---
layout: base
body_class: home
---

{% for day in site.data.day_of %}
{% if day[1].end > site.time and day[1].links.size > 0 %}
<div class="day-of"
  data-start="{{ day[1].start | date_to_xmlschema }}"
  data-end="{{ day[1].end | date_to_xmlschema }}">
  <h3>Welcome to {{ site.data.event.name }}</h3>

  <p>Here are a few links that we think will help you throughout the day.</p>

  <ul>
    {% for link in day[1].links %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endfor %}

<div class="jumbotron">
  {% assign cta = site.posts | where_exp: "item", "item.call_to_action" %}
  {% for post in cta limit: 1 %}
    <div class="alert alert-cta">
      <a href="{{ post.call_to_action }}" class="alert-link">{{ post.title }}</a>
    </div>
  {% endfor %}

  <img src="/static/images/logo.png"
    alt="{{ site.data.event.name }} &middot; New York City &middot; {{ site.data.event.dates }}">

  {% for event in site.data.event.events %}
    <h3>{{ event }}</h3>
  {% endfor %}
</div>

<section class="main {% if site.posts.size == 0 and site.sponsors.size == 0 %} empty {% endif %}">
  <div class="container">
    <div class="row">
      {% if site.posts.size > 0 %}
        <div class="posts {% if site.sponsors.size > 0 %}col-sm-4{% else %}col-md-6 offset-md-3{% endif %}">
          <h2>News</h2>

          <ol>
            {% for post in site.posts %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
                {{ post.excerpt }}
              </li>
            {% endfor %}
          </ol>
        </div>
      {% endif %}

      {% if site.sponsors.size > 0 %}
        <div class="sponsors order-first {% if site.posts.size > 0 %}col-sm-8{% endif %}">
          <h2>Sponsors</h2>

          {% assign sponsors = site.sponsors | sort: 'name' %}
          <ul class="row">
            {% for sponsor in sponsors %}
              <li class="col-sm-6 {% if site.posts.size == 0 %}col-md-4{% endif %}">
                <a href="{% link sponsors/index.md %}#{{ sponsor['name'] | slugify }}">
                  <img src="/uploads/sponsors/{{ sponsor['logo'] }}"
                    alt="{{ sponsor['name'] }}">
                </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</section>
